{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our clients</title>
</head>
<body>
    {%include 'menu.html'%}
    <h2>Our Happy Clients</h2>
    <section class="container">
        <div class="client-container">
        <div class="child">
            <img src="{%static 'Kia.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <div>
                        <p>kia</p>    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="child">
            <img src="{%static 'indianoil1.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child">
            <img src="{%static 'Kia2.jpeg'%}" alt="">
            <div class="overlay">
            <div class="text">
                <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Mahindra.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>Mahindra</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'IndianOil.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>IndianOil</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Kia.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'mahindra1.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>Mahindra</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'indianoil1.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>IndianOil</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Kia2.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Mahindra.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>Mahindra</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'IndianOil.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>IndianOil</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Kia.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'mahindra1.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>Mahindra</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'indianoil1.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>IndianOil</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Kia2.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Mahindra.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>Mahindra</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'IndianOil.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>IndianOil</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'Kia.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>kia</p>
                </div>
            </div>
        </div>
        <div class="child"><img src="{%static 'mahindra.jpeg'%}" alt="">
            <div class="overlay">
                <div class="text">
                    <p>Mahindra</p>
                </div>
            </div>
        </div>

        </div>
       </section> 
       {%include 'footer.html'%}
</body>
</html>
