{%load static%}
<!doctype html>
<html>
    <head>
        <title>Impact Sign India Pvt Ltd</title>
        
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-GLhlTQ8iN17EtM1SLDCGntX2rKZfyKbPJ9n2Sjp6uPk/6ZfBTHR1L3NU3nvm+J" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?display=swap&amp;family=Roboto%3A300%2C400" media="all">
        <link rel="stylesheet" href="{% static 'mystyle.css'%}">

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
            
        </script>
        
    </head>
           <body>
            <div class="menubar">
                <div class="logo">
                    <img src="{%static 'logo.jpeg'%}" alt="websitelogo" srcset="">
                </div>
                
                <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About US</a></li>
                    <li><a href="#vertical_container">Verticals</a></li>
                    <li><a href="{%url 'Service'%}">Service</a></li>
                    <li><a href="/">Technology</a></li>
                    <li><a href="{%url 'Client'%}">Our Clients</a></li>
                    <li><a href="{%url 'Contactus'%}">Contact</a></li>
                   
                </ul>
            </div>
            
        </div>
            <section class="herosection ">
                <div class="herodiv">
                    <img src="{%static 'nocopy.jpeg'%}" alt="">
                </div>
                <div class="heroinfo show-animate">
                    <h1 class="animate">Welcome to Imapct Sign</h1>
                    <h2 class="animate">We provide a variety of signage designs </h2>

                </div>
                </section>
           {%block content%}
           
            {%include 'about.html'%}
            {%include 'verticals.html'%}
            {%include 'capability.html'%}
            {%include 'projects.html'%}
            {%include 'footer.html'%}
            
           {%endblock%}
           
          
           <script src="{%static 'script.js'%}"></script>
    </body>
</html>
